<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.jiemian">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap ="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuActivity"
            android:launchMode="singleTask" />
        <activity android:name=".cryActivity" />
        <activity android:name=".dataActivity" />
        <activity android:name=".allActivity" />
        <activity
            android:name=".Chat"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Device"
            android:theme="@android:style/Theme.Dialog" />

        <service
            android:name=".RBLService"
            android:enabled="true" />
        <service
            android:name=".WaringService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".resultActivity" />
        <activity android:name=".sleepActivity" />
        <activity android:name=".Heartcharts" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".TempChartsActivity" />
        <activity android:name=".sleepCharts"/>
        <activity android:name=".CryBeginActivity" />
        <activity android:name=".WaringActivity">
            <intent-filter>
                <action android:name="android.intent.action.waring" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".questionActivity"></activity>
    </application>

</manifest>